:root {
    --primary-color: #2881EA;
    --backgound-color: #FBFBFB;

    --font-color: #000000;
    --font-color-light: var(--backgound-color);
    --font-color-link: var(--primary-color); /* TODO: change color so the contrast ratio will be better */

    --message-error: #C52525;
    --message-success: #007418;

    --gradient-blue: #28BBEA3D;
    --backdrop-color: #00000070;
    --drop-shadow: #00000040;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body, button, input, textarea {
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: linear-gradient(90deg, var(--primary-color) 0%, var(--gradient-blue) 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    display: grid;
    place-content: center;
}

.panel {
    border-radius: 1.625rem;
    background: var(--backgound-color);
    box-shadow: 1rem 1rem 1.625rem 0 var(--drop-shadow);
    padding: 5.625rem 5.375rem 3.5rem 5.375rem;

    /* Vystředění elementu bez horního a spodního okraje */
    /*margin: 0 auto;*/

    width: 36.5rem;
    max-width: 100%;
}

.panel--large {
    padding: 5rem 7.25rem 4rem 7.25rem;
    width: 56rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 4rem;
        text-decoration: none;
    }

    .nav-links {
        display: flex;
        gap: 3.5rem;
        font-size: 1.25rem;

        > a {
            color: var(--font-color);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    /*.nav-links {*/
    /*    > a:first-child {*/
    /*        display: inline-block;*/
    /*        margin-right: 56px;*/
    /*    }*/
    /*}*/
}

.homepage-heading {
    font-size: 3rem;
    margin-top: 3.625rem;
}

.app-intro {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-top: 2rem;

    > img {
        width: 27.5rem;
    }
}

.homepage-how-to {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.how-to-steps {
    margin-top: 2.25rem;
    margin-left: 2.75rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4.875rem;

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

/* Register */
.panel-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.625rem;

    > a {
        position: absolute;
        left: 2.5rem;
    }
}

.panel-form {
    margin-top: 4.875rem;
    display: flex;
    flex-direction: column;

    .button {
        margin-top: 4.125rem;
    }
}

.panel-form--edit-todo {
    margin-top: 2rem;
}

.input-label, .checkbox-label {
    margin-top: 2.25rem;

    &:first-child {
        margin-top: 0;
    }
}

.input {
    margin-top: 1.625rem;
    border-radius: 0.5rem;
    background: var(--backgound-color);
    box-shadow: 0.25rem 0.25rem 0.625rem 0.25rem var(--drop-shadow);
    font-size: 1.15rem;
    padding: 1rem 0.75rem;
    border: 0;
}

.checkbox-label {
    display: flex;
    gap: 1.25rem;
}

.checkbox {
    width: 1.25rem;
    height: 1.25rem;
    border: 0;
    border-radius: 0.25rem;
    background: var(--backgound-color);
    box-shadow: 0.125rem 0.125rem 0.375rem 0.125rem var(--drop-shadow);
}

.button {
    border-radius: 0.5rem;
    background: var(--primary-color);
    box-shadow: 0.25rem 0.25rem 0.5rem 0 var(--drop-shadow);
    font-size: 1.15rem;
    color: var(--font-color-light);
    padding: 1.25rem 1.625rem;
    border: 0;
    cursor: pointer;
}

.button--secondary {
    border: 1px solid var(--primary-color);
    background: var(--backgound-color);
    color: var(--font-color);
}

.button--danger {
    border: 1px solid var(--message-error);
    background: var(--backgound-color);
    color: var(--font-color);
}

.button--right {
    align-self: flex-end;
}

.link {
    color: var(--font-color-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.panel-link {
    text-align: center;
    margin-top: 4rem;
}


.message {
    border-radius: 0.375rem;
    color: var(--font-color-light);
    margin: 1.5rem 0;
    padding: 0.375rem 1rem;
    text-align: center;
}

.message--error {
    background: var(--message-error);;
}

.message--success {
    background: var(--message-success);
}

.todo-date-created {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.edit-todo-buttons {
    display: flex;
    gap: 3.125rem;

    .button:nth-child(2) {
        margin-left: auto;
    }
}